@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
img { 
vertical-align:bottom;
	pointer-events: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
	display: inline-block;
}
.box {
	display: inline-block;
	height: 200px;
	width: 200px;
	border: 1px solid #444444;
	overflow: hidden;
}
.space {
	display: inline-block;
	width: 1000px;
}
.box-pointer {
	position: absolute;
}
#Game {
	display: inline-block;
	height: 601px;
	width: 809px;
	border: 2px solid red;
	position:relative;
}
.boxevo{
	display: inline-block;
	min-height: 100px;
	min-width: 100px;
	border: 0px solid purple;
	position:absolute;
	
}
#Chat{
	margin-left:3px;
	margin-top:411px;
	
}

#Chati {
	height: 188px;
	width: 312px;
}
#Map{
	margin-top:414px;
	margin-left:303px;
}
#Mapi{
	height: 187px;
	width: 200px;
}

#Ter{
	margin-top:429px;
	margin-left:490px;
}

#Teri{
	height: 170px;
	width: 319px;
}

#Vit{
	margin-top:400px;
	margin-left:501px;
}
#Vit1{
	margin-top:390px;
	margin-left:501px;
}
#Viti{
	
}








